<admin-navbar></admin-navbar>
<div class="container">
    <div class="right">
    	<div *ngIf="contentType == 'listCategoryDetail'">
	    	<h4>Category Details <button mat-raised-button color="primary" (click)="editCategoryDetail(0)">Create</button></h4>
			<table class="category-detail">
			  <tr>
			    <th>Name</th>
			    <th>Description</th>
			    <th>Image</th>
			    <th>
			    Operation			    	
			    </th>
			  </tr>
			  <tr>
			    <td>Alfreds Futterkiste</td>
			    <td>Maria Anders</td>
			    <td><img class="img-circle" src="/assets/image/yingwu.png"></td>
			    <td>
			    <button mat-icon-button color="primary" class="op_button">
			      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
			    </button>
			    <button mat-icon-button color="warn" class="op_button">
			      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
			    </button>			    	
			    </td>
			  </tr>
			  <tr>
			    <td>Berglunds snabbköp</td>
			    <td>Christina Berglund</td>
			    <td><img class="img-circle" src="/assets/image/yingwu.png"></td>
			    <td>
			    <button mat-icon-button color="primary" class="op_button">
			      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
			    </button>
			    <button mat-icon-button color="warn" class="op_button">
			      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
			    </button>			    	
			    </td>
			  </tr>
			  <tr>
			    <td>Centro comercial Moctezuma</td>
			    <td>Francisco Chang</td>
			    <td><img class="img-circle" src="/assets/image/yingwu.png"></td>
			    <td>
			    <button mat-icon-button color="primary" class="op_button">
			      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
			    </button>
			    <button mat-icon-button color="warn" class="op_button">
			      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
			    </button>			    	
			    </td>
			  </tr>
			</table>
	    </div>
	    <div *ngIf="contentType == 'editCategory'">

<div class="container">
  <form action="/action_page.php">
  	<fieldset>
  	<legend>Category:</legend>
    <div class="row">
      <div class="col-25">
        <label for="name">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Category Name">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="language">Language</label>
      </div>
      <div class="col-75">
        <select id="language" name="language">
          <option value="english">English</option>
          <option value="mandarin">Mandarin</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Image</label>
      </div>
      <div class="col-75">
        <img class="img-circle" src="/assets/image/yingwu.png">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
</fieldset>
  </form>
</div>
	    </div>
	    <div *ngIf="contentType == 'editCategoryDetail'">
	    	edit category detail
	    </div>	    
    </div>
    <div class="left">
    	<div class="left-header"> 
    		<button mat-raised-button color="primary" (click)="editCategory(0)">Create</button>
    		<button mat-raised-button color="primary" (click)="editCategory(1)">Edit</button>
    		<button mat-raised-button color="primary" (click)="deleteCategory(1)">Delete</button>
    	</div>
		<div class="vertical-menu">
		  <a [ngClass]="{'active': selectedCategory.id == 1}" (click)="listCategory(1)">
		  	Home<img class="img-circle" src="/assets/image/yingwu.png">
		  	
		  </a>
		  <a [ngClass]="{'active': selectedCategory.id == 2}" (click)="listCategory(2)">
		  	Link 1<img class="img-circle" src="/assets/image/yingwu.png">
		  </a>
		  <a [ngClass]="{'active': selectedCategory.id == 3}" (click)="listCategory(3)">
		  	Link 2<img class="img-circle" src="/assets/image/yingwu.png">	  	
		  </a>
		</div>
    </div>
</div>