<admin-navbar></admin-navbar>
<div class="container">
    <div class="right">
    	<div *ngIf="contentType == 'listCategoryDetail'">
	    	<h4>Practices <button mat-raised-button color="primary" (click)="createPractice()">Create</button></h4>
			<table class="category-detail">
			  <tr>
			    <th>Name</th>
			    <th>Description</th>
			    <th>Image</th>
			    <th>
			    Operation			    	
			    </th>
			  </tr>
			  <tr *ngFor="let practice of practicesFilterList">
			    <td>{{practice.name}}</td>
			    <td>{{practice.description}}</td>
			    <td><img class="img-circle" src="{{practice.image}}"></td>
			    <td>
			    <button mat-icon-button color="primary" class="op_button" (click)="listPractice(practice)">
			      <mat-icon aria-label="icon-button with an list icon">list</mat-icon>
			    </button>			    	
			    <button mat-icon-button color="primary" class="op_button" (click)="editPractice(practice)">
			      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
			    </button>
			    <button mat-icon-button color="warn" class="op_button" (click)="deletePractice(practice)">
			      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
			    </button>			    	
			    </td>
			  </tr>
			</table>
	    </div>
	    <div *ngIf="contentType == 'editCategory'">

		  <form>
		  	<fieldset>
			  	<legend>Category:</legend>
			    <div class="row">
			      <div class="col-25">
			        <label for="name">Name</label>
			      </div>
			      <div class="col-75">
			        <input type="text" [(ngModel)]="selectedCategory.name" name="name" placeholder="Category Name">
			      </div>
			    </div>

			    <div class="row">
			      <div class="col-25">
			        <label for="language">Language</label>
			      </div>
			      <div class="col-75">
			        <select [(ngModel)]="selectedCategory.language" name="language">
			          <option value="english">English</option>
			          <option value="mandarin">Mandarin</option>
			        </select>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="subject">Image</label> 
			      </div>
			      <div class="col-75">
			      	
  <input hidden type="file" #imgFileInput ngFileSelect [options]="options" (change)="onUploadOutput($event)" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>     
  <img class="img-circle" src="{{selectedCategory.image}}" alt="Norway" (click)="uploadCategoryImage();imgFileInput.click();">

			      </div>
			    </div>
			    <div class="row">
			      <input type="submit" (click)="saveCategory()" value="Submit">
			    </div>
			</fieldset>
		  </form>

	    </div>
	    <div *ngIf="contentType == 'editPractice'">
		  <form>
		  	<fieldset>
			  	<legend>Practice:</legend>
			    <div class="row">
			      <div class="col-25">
			        <label for="name">Name</label>
			      </div>
			      <div class="col-75">
			      	<input type="hidden" name="category_id" [(ngModel)]="selectedPractice.category_id">
			        <input type="text" name="name" [(ngModel)]="selectedPractice.name" placeholder="Practice Name">
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="name">Description</label>
			      </div>
			      <div class="col-75">
			        <textarea name="description" [(ngModel)]="selectedPractice.description" cols="40" rows="5"></textarea>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="subject">Image</label>
			      </div>
			      <div class="col-75">

  <input hidden type="file" #imgFilePractice id="imgFilePractice" ngFileSelect [options]="options" (change)="onUploadOutput($event)" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>     
  <img class="img-circle" src="{{selectedPractice.image}}" alt="Image" (click)="uploadPracticeImage();imgFilePractice.click();">

			      </div>
			    </div>
			    <div class="row">
			      <input type="submit" (click)="savePractice()" value="Submit">
			    </div>
			</fieldset>
		  </form>
	    </div>	    
    </div>
    <div class="left">
    	<div class="left-header"> 
    		<button mat-raised-button color="primary" (click)="createCategory()">Create</button>
    		<button mat-raised-button color="primary" (click)="editCategory()">Edit</button>
    		<button mat-raised-button color="primary" (click)="deleteCategory()">Delete</button>
    	</div>
		<div class="vertical-menu">
		  <a [ngClass]="{'active': selectedCategory == category}" (click)="listCategory(category)" *ngFor="let category of categories">
		  	{{category.name}}<img class="img-circle" src="{{category.image}}">	  	
		  </a>
		</div>
    </div>
</div>