<admin-navbar></admin-navbar>
<div class="container">
    <div class="right">
    	<h4>Category Details <button mat-raised-button color="primary">Create</button></h4>
		<table class="category-detail">
		  <tr>
		    <th>Name</th>
		    <th>Description</th>
		    <th>Image</th>
		    <th>
		    Operation			    	
		    </th>
		  </tr>
		  <tr>
		    <td>Alfreds Futterkiste</td>
		    <td>Maria Anders</td>
		    <td><img class="img-circle" src="/assets/image/yingwu.png"></td>
		    <td>
		    <button mat-icon-button color="primary" class="op_button">
		      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
		    </button>
		    <button mat-icon-button color="warn" class="op_button">
		      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
		    </button>			    	
		    </td>
		  </tr>
		  <tr>
		    <td>Berglunds snabbköp</td>
		    <td>Christina Berglund</td>
		    <td><img class="img-circle" src="/assets/image/yingwu.png"></td>
		    <td>
		    <button mat-icon-button color="primary" class="op_button">
		      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
		    </button>
		    <button mat-icon-button color="warn" class="op_button">
		      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
		    </button>			    	
		    </td>
		  </tr>
		  <tr>
		    <td>Centro comercial Moctezuma</td>
		    <td>Francisco Chang</td>
		    <td><img class="img-circle" src="/assets/image/yingwu.png"></td>
		    <td>
		    <button mat-icon-button color="primary" class="op_button">
		      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
		    </button>
		    <button mat-icon-button color="warn" class="op_button">
		      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
		    </button>			    	
		    </td>
		  </tr>
		</table>
    </div>
    <div class="left">
    	<h3>Categories <button mat-raised-button color="primary">Create</button></h3>
		<div class="vertical-menu">
		  <a href="#" class="active">
		  	Home<img class="img-circle" src="/assets/image/yingwu.png">

		    <button mat-icon-button color="primary" class="op_button">
		      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
		    </button>
		    <button mat-icon-button color="warn" class="op_button">
		      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
		    </button>
		  	
		  </a>
		  <a href="#">
		  	Link 1<img class="img-circle" src="/assets/image/yingwu.png">
		    <button mat-icon-button color="primary" class="op_button">
		      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
		    </button>
		    <button mat-icon-button color="warn" class="op_button">
		      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
		    </button>
		  </a>
		  <a href="#">
		  	Link 2<img class="img-circle" src="/assets/image/yingwu.png">
		    <button mat-icon-button color="primary" class="op_button">
		      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
		    </button>
		    <button mat-icon-button color="warn" class="op_button">
		      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
		    </button>		  	
		  </a>
		</div>
    </div>
</div>