* {
    box-sizing: border-box;
}
.container {
	background-color: #D3D3D3;
	overflow:hidden;
  display:                 flex;
  display:                 -webkit-flex; /* Safari 8 */
  flex-wrap:               wrap;
  -webkit-flex-wrap:       wrap;         /* Safari 8 */
  justify-content:         center;
  -webkit-justify-content: center;       /* Safari 8 */	
}


[class*="col-"] {
    float: left;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}   
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

#category_list{ 
  display:inline-block; 
  position:relative; margin:10px; 
  padding:10px; 
  background:#fafafa; 
  box-shadow:0 0 3px rgba(0, 0, 0, 0.2); 
  -moz-border-radius:4px; 
  border-radius:10px; 
  color:rgba(0,0,0, 0.8); 
  text-shadow:0 1px 0 #fff;
}
#category_list::before, #category_list::after{ 
  position:absolute; 
  content:""; 
  top:10px; bottom:10px; left:10px; width:50%; 
  box-shadow:0 15px 10px 
  rgba(0, 0, 0, 0.5); 
  -webkit-transform: rotate(-3deg); 
  -moz-transform:rotate(-3deg); 
  -o-transform:rotate(-3deg); 
  -ms-transform:rotate(-3deg); 
  transform:rotate(-3deg); 
  z-index:-1;
}
#category_list::after{ 
  right:10px; 
  left:auto; 
  -webkit-transform:rotate(3deg); 
  -moz-transform:rotate(3deg); 
  -o-transform:rotate(3deg); 
  -ms-transform:rotate(3deg); 
  transform: rotate(3deg);
}
#category_list img{ vertical-align:bottom;}

#side-bar {
  vertical-align: center;
  text-align: center; 
  display:inline-block;
  padding:10px;
  -moz-border-radius:4px; 
  border-radius:10px;
  text-shadow:0 1px 0 #fff;  
}
.statistics{
  width: 100%;
  vertical-align: center;
  text-align: center; 

  display:inline-block;
  padding:10px; 
  margin-bottom: 10px;
  background:#fafafa; 
  box-shadow:0 0 3px rgba(0, 0, 0, 0.2); 
  -moz-border-radius:4px; 
  border-radius:10px; 
  color:rgba(0,0,0, 0.8); 
  text-shadow:0 1px 0 #fff;
}

   
}

@media screen and (max-width: 768px) {
  #statistics {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;

  }
}

.card-list-1 {
	padding: 10px;
	float: left;
}
.card-list-2 {
	padding: 10px;
	float: right;
}

.col-card {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.img-circle {
 width: 200px;
 height: 200px;
 border-radius: 50%;
}
.circle-card {
  text-align: center;
}

.side-card {
  width: 100%;
 position:relative;
 z-index:1;
 height:250px;
 float:left;
 color:#134f8d;
 border-top:#E6E6E6 8px solid;
background-color:#F2F2F2;
transition: color 0.5s,margin-top 0.5s,box-shadow 0.5s,border-top 0.5s;
-moz-transition:color 0.5s,margin-top 0.5s,box-shadow 0.5s,border-top 0.5s;
-webkit-transition: color 0.5s,margin-top 0.5s,box-shadow 0.5s,border-top 0.5s;
-o-transition: color 0.5s,margin-top 0.5s,box-shadow 0.5s,border-top 0.5s;
}
.side-card-title {
  float: left;
  color: black;
  padding-left: 10px;
}
.side-card-settings {
  float: right; 
  position: relative; 
  top: 10px; 
  right: 10px;
}
.statistics-row {
  width: 100%;
  display:block;
  float: left;
}
.yingwu-photo {
  width: 30px;
  height: 30px;
  vertical-align:middle;
}

.button {
    
    border: none;
    outline:none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}
.button1 {
  background-color: #4CAF50;
}
.button2 {
  background-color: #1caff6;
}
.practice-description {
  height: 10px; 
  word-break:break-word;
}
.category-image {
  background-size: cover;
}