<app-navbar></app-navbar>
<div class="container">
  <div class="col-6 col-m-12" id="category_list">
  	<div class="col-6 col-m-6 card-list-1">
  		<div class="circle-card">
  			<img class="img-circle" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
  			<button mat-button>Basic</button>
  		</div>
  		<!--
		<mat-card class="example-card">
		  <mat-card-header>
		    <div mat-card-avatar class="example-header-image"></div>
		    <mat-card-title>Shiba Inu</mat-card-title>
		    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
		  </mat-card-header>
		  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		  <mat-card-content>
		    <p>
		      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
		      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
		      bred for hunting.
		    </p>
		  </mat-card-content>
		  <mat-card-actions>
		    <button mat-button>LIKE</button>
		    <button mat-button>SHARE</button>
		  </mat-card-actions>
		</mat-card>  
		-->
	</div>
	<div class="col-6 col-m-6 card-list-2">
		<div class="circle-card">
			<img class="img-circle" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
			<button mat-button>Basic</button>
		</div>
		<!--
		<mat-card class="example-card">
		  <mat-card-header>
		    <div mat-card-avatar class="example-header-image"></div>
		    <mat-card-title>Shiba Inu</mat-card-title>
		    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
		  </mat-card-header>
		  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		  <mat-card-content>
		    <p>
		      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
		      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
		      bred for hunting.
		    </p>
		  </mat-card-content>
		  <mat-card-actions>
		    <button mat-button>LIKE</button>
		    <button mat-button>SHARE</button>
		  </mat-card-actions>
		</mat-card>  
		-->	
	</div>

  	<div class="col-6 col-m-6 card-list-1">
  		<div class="circle-card">
  			<img class="img-circle" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
  			<button mat-button>Basic</button>
  		</div>
  		<!--
		<mat-card class="example-card">
		  <mat-card-header>
		    <div mat-card-avatar class="example-header-image"></div>
		    <mat-card-title>Shiba Inu</mat-card-title>
		    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
		  </mat-card-header>
		  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		  <mat-card-content>
		    <p>
		      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
		      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
		      bred for hunting.
		    </p>
		  </mat-card-content>
		  <mat-card-actions>
		    <button mat-button>LIKE</button>
		    <button mat-button>SHARE</button>
		  </mat-card-actions>
		</mat-card>  	
	-->
	</div>
	<div class="col-6 col-m-6 card-list-2">
		<div class="circle-card">
			<img class="img-circle" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
			<button mat-button>Basic</button>
		</div>
		<!--
		<mat-card class="example-card">
		  <mat-card-header>
		    <div mat-card-avatar class="example-header-image"></div>
		    <mat-card-title>Shiba Inu</mat-card-title>
		    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
		  </mat-card-header>
		  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		  <mat-card-content>
		    <p>
		      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
		      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
		      bred for hunting.
		    </p>
		  </mat-card-content>
		  <mat-card-actions>
		    <button mat-button>LIKE</button>
		    <button mat-button>SHARE</button>
		  </mat-card-actions>
		</mat-card>  	
	    -->
	</div>	
  </div> <!-- 66% -->

  <div class="col-4" id="side-bar">
  	<div id="statistics">
  		<div class="statistics-row">
  		  <div class="side-card-title">
  		  	<h3>Daily Goal</h3>
  		  </div>
		  <button mat-icon-button class="side-card-settings">
		    <mat-icon aria-label="Example icon-button with a heart icon">settings</mat-icon>
		  </button>
		</div>
		<div class="statistics-row">
			<div class="statistics-row-left">
				<img  src="assets/image/yingwu.png" class="yingwu-photo">
				<div class="statistics-row-right">
					Learning a language requires practice every day
				</div>					
			</div>
		</div>
		<div class="statistics-row">

		</div>
  	</div>
  </div> <!-- 33% -->



  
</div>