<app-navbar></app-navbar>
<div>
	<mat-card  *ngIf="!finished">
	  <mat-card-content>
	    <section class="example-section">
	      <mat-progress-bar
	          class="example-margin"
	          [color]="color"
	          [mode]="mode"
	          [value]="value"
	          [bufferValue]="bufferValue">
	      </mat-progress-bar>
		  <button mat-icon-button>
		    <mat-icon aria-label="close icon">close</mat-icon>
		  </button>
	    </section>
	  </mat-card-content>
	</mat-card>


	<div class="example-section practice-main" *ngIf="question && !finished">
	  	<h2 class="question-title">{{question.title}}</h2>
	  	<div class="card-container" *ngIf="question.type=='recognize_word'">
			<div class="card" *ngFor="let choice of question.choices;let i=index" [ngClass]="{ 'card-selected': userAnswer==choice.text}">
			  <img src="{{choice.image}}" class="card-image" alt="{{choice.text}}" (click)="selectChoice(i)">
			  <div class="container" (click)="selectChoice(i)">
			    <h4><b><input type="radio" radio-custom [checked]="userAnswer==choice.text">{{choice.text}}</b></h4> 
			  </div>
			</div>
		</div>
		<div *ngIf="(question.type=='write_word_with_Chinese')">
			
			<div *ngIf="question.subtitle.text" class="div-img-text">
				<img src="/assets/image/voice.png" class="voice-image" alt="{{question.subtitle.text}}" *ngIf="question.subtitle.voice" (click)="playVoice(question.subtitle.voice)">
				{{question.subtitle.text}}
			</div>
		
			<div>
				<textarea [(ngModel)]="userAnswer" class="textarea" cols="40" rows="5"></textarea>
			</div>
		</div>

		<div *ngIf="question.type=='write_word_with_English'">
			
			<div *ngIf="question.subtitle" class="div-img-text">
				{{question.subtitle}}
			</div>
		
			<div>
				<textarea [(ngModel)]="userAnswer" class="textarea" cols="40" rows="5"></textarea>
			</div>
		</div>	

		<div *ngIf="question.type=='speak_word'">
			<div class="fill_blank_choice">
				<img src="/assets/image/microphone.png" class="voice-image" [ngClass]="{ 'blink': recording}" (click)="record()">
			</div>
			<div *ngIf="question.subtitle.text" class="div-img-text fill_blank_choice">
				<img src="/assets/image/voice.png" class="voice-image" alt="{{question.subtitle.text}}" *ngIf="question.subtitle.voice" (click)="playVoice(question.subtitle.voice)">
				{{question.subtitle.text}}
			</div>	
			<div class="div-img-text">
				Your speech:{{userAnswer}}
			</div>	
		</div>

		<div *ngIf="question.type=='listen_only'">
			<div *ngIf="question.subtitle.text" class="div-img-text fill_blank_choice">
				<img src="/assets/image/voice.png" class="voice-image" alt="{{question.subtitle.text}}" *ngIf="question.subtitle.voice" (click)="playVoice(question.subtitle.voice)">
			</div>	
			<div>
				<textarea [(ngModel)]="userAnswer" class="textarea" cols="40" rows="5"></textarea>
			</div>				
		</div>

		<div *ngIf="question.type=='fill_blank'">
			<div *ngIf="question.subtitle" class="div-img-text">
				{{question.subtitle}}
			</div>	
			<div *ngFor="let choice of question.choices;let i=index" class="fill_blank_choice div-img-text" (click)="selectChoice(i)">
	            <input class="radio-custom div-img-text" name="radio-group" type="radio" [checked]="userAnswer==choice.text">
	            <label class="radio-custom-label div-img-text">{{choice.text}}</label>
			</div>		
		</div>

		<div *ngIf="question.type=='judge'">
			<div *ngIf="question.subtitle" class="div-img-text">
				{{question.subtitle}}
			</div>	
			<div *ngFor="let choice of question.choices;let i=index" class="fill_blank_choice div-img-text" (click)="selectChoice(i)">
	            <input class="radio-custom div-img-text" name="radio-group" type="radio" [checked]="userAnswer==choice.text">
	            <label class="radio-custom-label div-img-text">{{choice.text}}</label>
			</div>		
		</div>		
	</div>
	<div *ngIf="finished" class="unit-completed">
		<div>
		<img  src="/assets/image/unit_completed.jpeg">
		</div>
		<div>
			Unit completed
		</div>
	</div>
	<div class="bottom" [ngClass]="{ 'bottom-right-answer': answerFlag == 1,'bottom-wrong-answer': answerFlag == -1}">
		<button mat-raised-button class="bottom-button skip-button" *ngIf="answerFlag == 2" (click)="redo()" >Redo</button>
		<button mat-raised-button class="bottom-button skip-button" *ngIf="answerFlag == 0">Skip</button>
		<img class="right-wrong-image" *ngIf="answerFlag == 1" src="assets/image/right.png">

		<img class="right-wrong-image" *ngIf="answerFlag == -1" src="assets/image/wrong.png">

		<div *ngIf="this.answerFlag == -1" class="right-answer-text">
			<h3 class="answer-text">
				正确答案：{{rightAnswer}}
			</h3>
		</div>
		<button mat-raised-button color="primary" class="bottom-button confirm-button" (click)="nextCourse()" *ngIf="answerFlag == 2">Continue</button>
		<button mat-raised-button color="primary" class="bottom-button confirm-button" (click)="check()" *ngIf="stage=='check'">Check</button>
		<button mat-raised-button color="primary" class="bottom-button confirm-button" (click)="continue()" *ngIf="(stage=='continue') && (answerFlag == 1)">Continue</button>
		<button mat-raised-button color="accent" class="bottom-button confirm-button" (click)="continue()" *ngIf="(stage=='continue') && (answerFlag == -1)">Continue</button>
	</div>
</div>