.example-margin {
	display: inline-block;
	width: 80%;
}
.example-section {
	text-align: center;
}
.practice-main {
	padding-top: 15px;
	text-align: center;
	margin-right: auto; margin-left: auto; 	
}

.row {
    content: "";
    clear: both;
    display: table-cell;
}

.container {
	text-align: center;
	overflow:hidden;
  display:                 flex;
  display:                 -webkit-flex; /* Safari 8 */
  flex-wrap:               wrap;
  -webkit-flex-wrap:       wrap;         /* Safari 8 */
  justify-content:         center;
  -webkit-justify-content: center;       /* Safari 8 */	
}

[class*="col-"] {
    float:left;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;text-align: center;margin-right: auto; margin-left: auto; 	}   
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;text-align: center;margin-right: auto; margin-left: auto; 	}
}

.bottom {
    text-align: center;
    height: 100px;
    background-color: #e7e7e7;
}

.bottom-right-answer {
    background-color: #65ab00;
}
.bottom-wrong-answer {
    background-color: #ffd3d1;;
}
.answer-button {
	width: 100%;
    margin-top: 15px;
	margin-bottom: 15px;
}

.confirm-button {
    float:right;
}
.bottom-button {
    margin-left: 100px;
    margin-right: 100px;
    margin-top:30px;
    margin-bottom:30px;       
}
.skip-button {
    float: left;
}
.big-character {
	text-align: center;
	font-size: 10em;
	width: 250px;
	height: 250px;
	border-style: outset;
}
.card {
    border: 1px solid #ccc!important;
    border-radius: 6px;
    margin:0 8px;
    display:inline-block;
    position:relative;
}

@media only screen and (min-width: 480px) {
    .card {
        width: 92%;
    }    
}

@media only screen and (min-width: 600px) {
    .card {
        width: 42%;
    }    
}

@media only screen and (min-width: 768px) {
    .card {
        width: 22%;
    }
}

.card-container {
    text-align: center;
}
.card:hover {
    border-color: red!important;
}
.card-image {
    width:100%;
    border-radius: 5px 5px 0px 0px;
}
.card-selected {
    background-color: lightblue;
}
.right-wrong-image {
    margin-top:10px;
    margin-bottom:10px;
    float:left;
    padding-left: 100px;
}
.answer-text {
    color: #e70800;
}
.right-answer-text {
    float:left;
    display: inline-block;
}