<admin-navbar></admin-navbar>
		  <form *ngIf="practice">
		  	<fieldset>
			  	<legend>Practice:</legend>
			    <div class="row">
			      <div class="col-25">
			        <label for="name">Name</label>
			      </div>
			      <div class="col-75">
			        {{practice.name}}
			      </div>
			    </div>

			    <div class="row">
			      <div class="col-25">
			        <label for="language">Description</label>
			      </div>
			      <div class="col-75">
			        {{practice.description}}
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="subject">Image</label>
			      </div>
			      <div class="col-75">
			        <img class="img-circle" src="{{practice.image}}">
			      </div>
			    </div>
			</fieldset>
		  </form>
<div *ngIf="contentType == 'listQuestionDetail'">
	  <h3 mat-subheader>Question List:<button mat-raised-button color="primary" (click)="createQuestion()">Create</button></h3>
	  <table class="question-detail">
			  <tr>
			    <th>Type</th>
			    <th>Title</th>
			    <th>Sub Title</th>
			    <th>Answer</th>
			    <th>
			    Operation			    	
			    </th>
			  </tr>	 
			  <tr *ngFor="let question of questions">
			    <td>{{question.type}}</td>
			    <td>{{question.title}}</td>
			    <td>{{question.subtitle}}</td>
			    <td>{{question.answer}}</td>
			    <td>			    	
			    <button mat-icon-button color="primary" class="op_button" (click)="editQuestion(question)">
			      <mat-icon aria-label="icon-button with an edit icon">mode_edit</mat-icon>
			    </button>
			    <button mat-icon-button color="warn" class="op_button" (click)="deleteQuestion(question)">
			      <mat-icon aria-label="icon-button with a cancel icon">cancel</mat-icon>
			    </button>			    	
			    </td>
			  </tr>			   	
	  </table>
</div>
<div *ngIf="contentType == 'editQuestion'">
		  <form>
		  	<fieldset>
			  	<legend>Question:</legend>
			    <div class="row">
			      <div class="col-25">
			        <label for="name">Type</label>
			      </div>
			      <div class="col-75">
			        <select [(ngModel)]="selectedQuestion.type" (ngModelChange)="onChangeType($event)" name="type">
			          <option value="recognize_word">Recognize words</option>
			          <option value="write_word_with_Chinese">Write words with Chinese</option>
			          <option value="write_word_with_English">Write words with English</option>
			          <option value="fill_blank">Fill blank</option>
			          <option value="speak_word">Speak words</option>
			        </select>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="name">Title</label>
			      </div>
			      <div class="col-75">
			        <input type="text" name="title" [(ngModel)]="selectedQuestion.title" placeholder="Question Title">
			      </div>
			    </div>
			    <div class="row" *ngIf="showSubTitle">
			      <div class="col-25">
			        <label for="name">Sub Title</label>
			      </div>
			      <div class="col-75">
			        <input type="text" name="subtitle" [(ngModel)]="selectedQuestion.subtitle" placeholder="Question Text">
			      </div>
			    </div>
			    <div class="row" *ngIf="showChoices">
			      <div class="col-25">
			        <label for="name">Choices</label>
			      </div>
			      <div class="col-75">
					  <div *ngFor="let choice of selectedQuestion.choices; let in=index" class="choice-input">
					  	<div *ngIf=" in < choiceCount">
					        <input type="text" [(ngModel)]="selectedQuestion.choices[in].text" name="choice-{{in}}"  [attr.placeholder]="selectedQuestion.choices[in].text" required>
						</div>
					  </div>
			      </div>
			    </div>
			    <div class="row" *ngIf="showAnswer">
			      <div class="col-25">
			        <label for="name">Answer</label>
			      </div>
			      <div class="col-75">
			        <input type="text" name="answer" [(ngModel)]="selectedQuestion.answer" placeholder="Question Answer">
			      </div>
			    </div>				    			    		    
			    <div class="row">
			      <input type="submit" (click)="saveQuestion()" value="Submit">
			    </div>
			</fieldset>
		  </form>	
</div>
