<admin-navbar></admin-navbar>


		  <form *ngIf="practice">
		  	<fieldset>
			  	<legend>Practice:</legend>
			    <div class="row">
			      <div class="col-25">
			        <label for="name">Name</label>
			      </div>
			      <div class="col-75">
			        {{practice.name}}
			      </div>
			    </div>

			    <div class="row">
			      <div class="col-25">
			        <label for="language">Description</label>
			      </div>
			      <div class="col-75">
			        {{practice.description}}
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="subject">Image</label>
			      </div>
			      <div class="col-75">
			        <img class="img-circle" src="{{practice.image}}">
			      </div>
			    </div>
			</fieldset>
		  </form>
<div *ngIf="contentType == 'listQuestionDetail'">
	  <h3 mat-subheader>Question List:<button mat-raised-button color="primary" (click)="createQuestion()">Create</button></h3>
	  <mat-list>
		  <mat-list-item *ngFor="let question of questions">
		    <mat-icon mat-list-icon>note</mat-icon>
		    <h4 mat-line>{{question.topic}}</h4>
		    <p mat-line> {{question.topic}} </p>
		  </mat-list-item>
	  </mat-list>
</div>
<div *ngIf="contentType == 'editQuestion'">
		  <form>
		  	<fieldset>
			  	<legend>Question:</legend>
			    <div class="row">
			      <div class="col-25">
			        <label for="name">Type</label>
			      </div>
			      <div class="col-75">
			        <select [(ngModel)]="selectedQuestion.type" name="type">
			          <option value="basic">Basic</option>
			        </select>
			      </div>
			    </div>			  	
			    <div class="row">
			      <div class="col-25">
			        <label for="name">Topic</label>
			      </div>
			      <div class="col-75">
			        <input type="text" name="name" [(ngModel)]="selectedQuestion.topic" placeholder="Question Topic">
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="name">Text</label>
			      </div>
			      <div class="col-75">
			        <input type="text" name="text" [(ngModel)]="selectedQuestion.text" placeholder="Question Text">
			      </div>
			    </div>

			    <div class="row">
			      <div class="col-25">
			        <label for="name">Voice</label>
			      </div>
			      <div class="col-75">
	  <input hidden type="file" #imgFileInput ngFileSelect [options]="options" (change)="onUploadOutput($event)" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>     
	  <img class="img-circle" src="/assets/image/voice.png" alt="Norway" (click)="uploadVoice();imgFileInput.click();">
	  <button mat-icon-button color="primary" class="op_button" (click)="playVoice(selectedQuestion.voice)">
	    <mat-icon>volume_up</mat-icon>
	  </button>
			      </div>
			    </div>	

			    <div class="row">
			      <div class="col-25">
			        <label for="name">Image</label>
			      </div>
			      <div class="col-75">

	  <input hidden type="file" #imgFileInput ngFileSelect [options]="options" (change)="onUploadOutput($event)" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>     
	  <img class="img-circle" src="{{selectedQuestion.image}}" alt="Norway" (click)="uploadImage();imgFileInput.click();">

			      </div>
			    </div>	

			    <div class="row">
			      <div class="col-25">
			        <label for="name">Answer</label>
			      </div>
			      <div class="col-75">
			        <input type="text" name="answer" [(ngModel)]="selectedQuestion.answer" placeholder="Question Answer">
			      </div>
			    </div>				    			    		    
			    <div class="row">
			      <input type="submit" (click)="savePractice()" value="Submit">
			    </div>
			</fieldset>
		  </form>	
</div>
